body {
    background-color: #67af81;
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman",
        Times, serif;
    font-size:  18px;
    line-height: 150%;
}

h1 {
    color: #efeee7;
    background-color: #102919; 
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

h2 {
    font-size: 28px; 
}

a {
    color: #d21034;
}

aside {
    background: #ffffff;
    color: #000000;
    width: 33.3%;
    float: left;
    line-height: 15px;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    text-align: center;
    padding-right: 3px;
    padding-left: 3px;
    z-index: 50%;
    /* overflow: 2,2; */
    /* text-align: left; */
    /* width: fit-content; */
    /* padding: 9px; */
    /* clear: right; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    
}

.container {
    width: 1024px;
    margin: 0 auto;    
}

#aside-inside,
#main-bio,
#contact-info,
#bio-image {
    float: left;
    margin-right: 9px;
    margin-left: 9px;
    margin-bottom: 9px;
    margin-top: 9px;
    width: 200px;
}

#main-bio {
    width: 59%; 

}
#contact-info {
    float: left;
    width: 33.3%;
}
#aside-inside {
    float:left;
    background:#000000;
    color:#ffffff;
    padding-right: 9px;
    padding-left: 6px;
    padding-top: 9px;
    padding-right: 24px;
    padding-left: 9px;
    margin-bottom: 9px;
    margin-top: 9px;
    z-index: 33.3%;
    /* width: fit-content; */
    /* padding affects top to bottom */
    /* margin-bottom: 10px; */
    
}